# Include only required modules from node_modules
!node_modules/mssql/**

# Exclude everything else in node_modules
node_modules/**

# Include compiled output
!out/**

# Exclude unnecessary files
.vscode/**
src/**
.vscode-test/**
.gitignore
**/*.map
**/*.ts
out/test
